#footer i, #contact i, #hero i {
	border: double 5px;
	padding: 10px;
	border-radius: 50px;
	color: #333;
  }
  
  #footer i:hover, #contact i:hover, #hero i:hover {
	border: black double 5px;
		  color: #962EBB;
		  transition: 0.6s ease;
  }
  
  #totop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgb(0, 0, 0, 0.1);
	   border: solid 2px black;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
  }
  
  #totop:hover {
	background-color: #333;
	   transition: 0.6s ease;
  }
  
  ::-moz-selection { /* Code for Firefox */
	  background: #732390;
				  color: white;
  }
  
  ::selection {
	  background: #732390;
				  color: white;
  }
  
  body { 
	  font-family: 'Oswald', sans-serif;
	  @import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
  }
  
  /* Buttons */
  
  #button1 {
   color: white;
	  background-color: black;
	  border: none;
	  padding-left: 30px;
	  padding-right: 30px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  border: black 2px solid;
  }
  
  #button1:hover {
	background-color: #732390;  
		  border: #732390 2px solid;
		  transition: 0.6s ease;
		  border-radius: 5px;
  }
  
  #button1 i {
	  border: none;
	  padding-left: 15px;
	  padding-right: 0px;
	  color: white;
  }
  
  #button2 {
   color: black;
	  background-color: none;
	  border: black 2px solid;
	  padding-left: 28px;
	  padding-right: 28px;
	  padding-top: 10px;
	  padding-bottom: 10px;
  }
  
  #button2:hover {
	color: white;
		  background-color: #732390; 
		  border: black 2px solid;
		  transition: 0.6s ease;
		  border-radius: 5px;
  }
  
  /* Buttons */
  
  hr {
	  border: 2px solid #444444;
  }
  
  h1, h2, h3, h4, h5, h6 {
	  color: black;
  }
  
  /* Navbar */
  .navbar {
	  padding-top: 30px;
	  padding-bottom: 20px;
  }
  
  .navbar a {
	  font-size: 25px;
	  text-decoration: none;
	  margin-left: 20px;
	  margin-right: 20px;
	  color: #333;
  }
  
  .navbar a:hover {
				  color: #962EBB;
				  text-decoration: underline;
				  transition: 0.6s ease;
  }
  
  .navbar a:visited {
	  
  }
  
  .activelink a {
	  color: black;
	  font-weight: bold;
  }
  
  .activelink a:visited {
	color: black;
  }
  
  .navbar-brand {
	  font-weight: ;
  }
  
  .navbar-toggler i {
	  color: #333;
  }
  
  .navbar-toggler i:hover {
	  color: #962EBB;
  }
  
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
	  outline: none;
	  box-shadow: none;
  }
  
  
  /* Navbar */
  
  /* Hero */
  
  #hero {
	  padding-top: 40px;
	  padding-bottom: 60px;
  }
  
  #hero img {
	  width: 25vw;
	  height: 25vw;
	  border-radius: 50px;
   margin-bottom: 20px;
	  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
  
  #hero img:hover {
	  transition: 0.6s ease;
   opacity: 0.5;
  }
  
  #hero a {
	  font-weight: bold;
	  color: #732390;
	  text-decoration: none;
  }
  
  #hero a:hover {
	  text-decoration: underline;
  }
  
  /* Hero */
  
  /* Projects */
  
  #recentprojects {
	  background-color: #EBEBEB;
	  padding-top: 60px;
	  padding-bottom: 60px;
  }
  
  #recentprojects a {
	  color: black;
	  font-weight: bold;
	  text-decoration: none;
  }
  
  #recentprojects a:hover {
	  text-decoration: underline;
	  color: #962EBB;
  }
  
  .accordion {
	background-color: transparent;
	color: #333;
		  font-weight: bold;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
		  border-bottom: solid 3px #444444;
	text-align: left;
	outline: none;
	font-size: 25px;
  }
  
  .accordion i {
	  border: none;
	  color: white;
  }
  
  .accordion i:hover {
	  border: none;
	  color: white;
  }
  
  .active, .accordion:hover {
	border-bottom: 6px solid black;
		  color: black;
		  transition: 0.4s ease;
  }
  
  .panel {
	padding: 18px;
	display: none;
	background-color: white;
	overflow: hidden;
  }
  
  
  /* Projects */
  
  /* Contact */
  
  #contact {
	  padding-top: 30px;
  }
  
  #contact form input {
	  border-top: none;
	  border-bottom: 3px solid #444444;
	  border-left: none;
	  border-right: none;
	  background-color: transparent;
	  padding-left: 10px;
	  padding-top: 10px;
	  margin-top: 5px;
  }
  
  #contact form input:focus {
	  border-bottom: 3px solid black;
  }
  
  #contact form input:hover {
	  border-bottom: 6px solid black;
	  transition: 0.4s ease;
  }
  
  #contact form textarea {
	  border-top: none;
	  border-bottom: 3px solid #444444;
	  border-left: none;
	  border-right: none;
	  background-color: transparent;
	  padding-left: 10px;
	  padding-top: 10px;
	  margin-top: 5px;
  }
  
  #contact form textarea:focus {
	  border-bottom: 3px solid black;
	  transition: 0.4s ease;
  }
  
  #contact form textarea:hover {
	  border-bottom: 6px solid black;
	  transition: 0.4s ease;
  }
  
  #contact label {
	  padding-left: 10px;
  }
  
  #contact form input::placeholder, #contact form textarea::placeholder {
	  color: #444;
  }
  
  #contact form button {
	  color: white;
	  background-color: black;
	  border: none;
	  padding-left: 30px;
	  padding-right: 30px;
	  padding-top: 10px;
	  padding-bottom: 10px;
	  border: black 2px solid;
  }
  
  #contact form button:hover {
	background-color: #732390;  
		  border: #732390 2px solid;
		  transition: 0.6s ease;
		  border-radius: 5px;
  }
  
  /* Contact */
  
  /* Footer */
  
  #footer {
	  border-top: solid 10px #962EBB;
	  background-color: white;
	  color: #333;
  }
  
  #footer a {
	  color: #333;
	  text-decoration: none;
  }
  
  #footer a:hover {
	  text-decoration: underline;
				  color: #962EBB;
  }