body { 
    background-color: #0F1114;
    color: white;
    font-family: "Helvetica";
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #download {
    color: white;
    background: rgb(248,59,58);
    background: linear-gradient(90deg, rgba(248,59,58,1) 0%, rgba(0,112,246,1) 100%); 
    border: none;
    border-radius: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 130%;
  }

  #download:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(248, 59, 58, .4);
    transition: box-shadow ease-in-out 0.4s;
  }

  #download2 {
    color: white;
    background-color: #0070F6;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bolder;
    font-size: 130%;
  }

  #download2:hover { 
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(0, 112, 246, .4);
    transition: box-shadow ease-in-out 0.8s;
  }

/* Navbar */
.navbar {
    padding-top: 80px;
    padding-bottom: 30px;
}

.navbar-brand {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.navbar-brand:hover {
  color: white;
}

.navbar-toggler i {
  background: -webkit-linear-gradient(#eee, rgb(102, 102, 102));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-toggler i:hover {
  -webkit-text-fill-color: white;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-item1 {
    margin-right: 35px;
}

/* Navbar */

.rotateright {

    /* Safari */
    -webkit-transform: rotate(20deg);
    
    /* Firefox */
    -moz-transform: rotate(20deg);
    
    /* IE */
    -ms-transform: rotate(20deg);
    
    /* Opera */
    -o-transform: rotate(20deg);
    
    float: right;

    font-weight: bold;
    
    }

    .rotateleft {

        /* Safari */
        -webkit-transform: rotate(-20deg);
        
        /* Firefox */
        -moz-transform: rotate(-20deg);
        
        /* IE */
        -ms-transform: rotate(-20deg);
        
        /* Opera */
        -o-transform: rotate(-20deg);
        
        float: left;

        font-weight: bold;
        
        }

    #hero {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    #downloadsection {
        padding-top: 110px;
        padding-bottom: 110px;
    }

    img {
        max-width: 100%
      }

      .text {
        padding-right: 20px;
      }

      #herocontainer {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      p {
          font-size: 150%;
      }

      hr {
        border: solid 1px;
      }

      #strikethrough {
      text-decoration:line-through #F83B3A 5px;
      }

      ::-moz-selection { /* Code for Firefox */
        color: #F83B3A;
      }
      
      ::selection {
        color: #F83B3A;
      }

      #stats {
          text-align: center;
      }

      #footertop {
        text-align: center;
        margin-top: 110px;
        margin-bottom: 80px;
      }

      #footer {
        margin-bottom: 110px;
      }

      #footercredit {
        text-align: right;
        padding-top: 100px;
      }

      input {
        background-color: transparent;
        border-bottom: #CDCDCD solid;
        border-top: none;
        border-left: none;
        border-right: none;
        outline: none;
        font-size: 170%;
        margin-top: 40px;
      }

      input:hover {
        border-bottom: white solid;
      }

      #submitbutton{
        background-color: #F83B3A;
        color: white;
        border-radius: 3px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 130%;
    margin-top: 40px;
      }

      #submitbutton:hover {
        background-color: #bd2323;
        transition: background-color ease-in-out 0.4s;
      }

      @media screen and (max-width: 991px) {
        #bigcolumm {
          display: none;
        }
      }
      
      @media screen and (min-width: 991px) {
        #smallcolumm {
          display: none;
        }
      }

      .card {
        background: rgb(248,59,58);
        background: linear-gradient(90deg, rgba(248,59,58,1) 0%, rgba(0,112,246,1) 100%); 
        border: none;
        padding-top: 60px;
        padding-bottom: 40px;
      }

      