body{
	font-family: sans-serif;
	background-color: #fff;
	color: #000;
}

body.darkmodetrigger{
	background-color: #000;
	color: #fff;
}

.darkmodetrigger{
	width: 4rem;
	height: 1.5rem;
	border-radius: 500px;
	border: 2px solid orange;
	background-color: #ff9900;
	cursor: pointer;
	appearance: none;
}

.darkmodetrigger::before{
	content: '';
	width: 1rem;
	height: 1rem;
	background-color: white;
	border-radius: 50%;
}

.darkmodetrigger.active::before{
    background-color: white;
}

.darkmodetrigger.active{
    background-color: #111111;
    border: 2px solid white;
}
